
<form action="/payment/results">
  
  <br>
  <br>

  <label for="APR"> APR: </label>
  <input id="APR" type="text" name="apr">

  <br>

  <label for="years"> Number of Years: </label>
  <input id="years" type="text" name="num_years">

  <br>

  <label for="principal"> Principal </label>
  <input id="principal" type="text" name="principal">

  <br>
  <br>

  <button> Calculate monthly payment </button>

</form>
