<h1> </h1>

<form action = "/square_root/results">

  <label for="number_square_root"> Enter a number: </label>
  <input id="number_square_root" type="text" name="number_square_root">

  <button> Calculate Square Root! </button>

</form>
